html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: 100%;
  overflow-x: hidden; /* Prevent horizontal scroll */
}

@media (min-width: 321px) and (max-width: 500px) {
  html, body {
    margin: 0;
    padding: 0.5vw;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden; /* fully lock horizontal scroll */
    background-color: rgb(0, 0, 0);
  }
}
