@import url('https://fonts.googleapis.com/css2?family=Montaga&display=swap');

.container{
    height: 12vh;
    width: 100vw;
    border-bottom: 2px solid var(--Secondary-color, #CE9F0B);
    background: var(--Primary-color, #193028);
    padding: 0 0px;
    position: relative; 
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 70px;
}


.logo img {
  height: 50px; 
  width: auto;
}
 


.navbar-grid{
    display: grid;
    grid-template-columns:0.5fr 1fr;
    align-items: center;
    gap: 45vw;
    padding: 30px 0;
    width:100%;
   
}

nav ul{
    display: flex;
    align-items: center;
    gap: 2vw;
    list-style: none;
    margin: 0;
    padding: 0;
    list-style: none;
  
}

nav ul li a{

color: #FFFFFF;
    font-family: Montaga;
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 8px;
    transition: color 0.3s ease;

}

nav ul li a:hover {
    color:#CE9F0B;
}

.contactBtn {
  border: 1px solid white;
  padding: 10px 16px;
  border-radius: 4px;
  color: white;
  text-decoration: none;
  justify-content: center;
  gap: 10px;
  cursor: pointer;
}

.contact-btn a:hover {
  background-color: white;
  color: #152e26;
}

